<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/employeeList">Employee List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/employee">Add Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>
<br>

<main role="main" class="container">

  <div class="starter-template">
    <h1>Welcome to Employee Application</h1>
    <p class="lead">
      <li>Users with Admin role can perform CRUD operations on Employee Dataset.</li><li>Other Users can only view/modify Employee Dataset</li>
  </div>

</main>
